include ./common/_mixins
block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title #{title}

    link(rel='stylesheet' href='./styles/bootstrap-grid.min.css' type="text/css")
    link(rel='stylesheet' href='./styles/main.min.css' type="text/css")
    
  body
    .wrapper      
      include ./common/header
      .maincontent
        block content

    
      include ./common/footer

    //- script(src='./scripts/bootstrap.min.js')
    //- script(src='./scripts/jquery.min.js')
    //- script(src='vendor.bundle.js')
    block scripts