include ./common/_mixins
block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(http-equiv="Content-Security-Policy" 
    default-src = 'none'
    connect-src = "'self'"
    img-src = 'self'
    font-src = "'self' https://use.fontawesome.com https://fonts.googleapis.com "
    script-src ="'self' https://maps.googleapis.com "
    style-src = 'self'
    frame-ancestors = 'none')

    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png")
    link(rel="manifest" href="./images/favicon/site.webmanifest")
    link(rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6BYEWm9ft20VkdRBtctm5pTSccf52Ro")

    title #{title}
    
    link(rel='stylesheet' href='./styles/main.min.css')
  body
    .wrapper      
      include ./common/preloader
      include ./common/menu
      .maincontent
        block content

    
      include ./common/footer.pug

    //- script(src='bootloader.bundle.js')
    //- script(src='vendor.bundle.js')
    block scripts