-   const linkArray = {"My works": myWorks , "About me": aboutMe, "Blog": blog , "Log in": "#"}

footer.footer
    .footer__row
        .wrapper-inner.wrapper-inner_flex_row
            .footer__col
                nav.footer__menu.footer__menu_center
                    ul.footer__menu_list                        
                        each link, name in  linkArray
                            li.footer__menu_item
                                a(href= link).footer__menu_link #{name}                        
                        
            .footer__col.footer__col_justify_right
                +socials("footer_mod")
    .footer__row.footer__row_border_top  
        .wrapper-inner.wrapper-inner_flex_row
            .footer__col
                .copyright
                    p #{footer__copyright}
            .footer__col.footer__col_justify_right
                .copyright_right
                    p #{footer} 