section.hero    
    .container.container-hero.js-hero
      .hero__bg.js-hero__bg
      .hero__content
        .hero__title БЮРО ПЕРЕВОДОВ 
        .hero__subtitle ДЛЯ ТЕХ, КТО ЦЕНИТ СКОРОСТЬ И КАЧЕСТВО
        .hero__arrow-down