.overlay
    .wrapper-inner.wrapper-inner__overlay
        .overlay__icon
            .overlay__icon_inner
                +icon("cancel", "overlay__icon_cancel")
        ul.overlay__menu
            li
                a(href=myWorks class="overlay__menu_item") My works
            li
                a(href=aboutMe class="overlay__menu_item") About me
            li
                a(href=blog class="overlay__menu_item") Blog
            li
                a(href="#" class="overlay__menu_item") Log in