section.services  
  .container.services__content
    .services__title услуги переводов
    ul.services__list
      li.services__item 
        .services__text китайский язык
        .services__flag
          .services__flag-rucn 
        .services__text казахский/русский язык
      li.services__item 
        .services__text английский язык
        .services__flag
          .services__flag-ruen
        .services__text казахский/русский язык
      li.services__item 
        .services__text русский язык
        .services__flag
          .services__flag-rukz
        .services__text казахский язык
      