extends ../main.layout.pug

block variables
  - var title = "translater" 
block scripts
  script(src='./scripts/index.bundle.js')

block content
  
  include ../common/hero
  include ../common/services
  


    